* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}